<!DOCTYPE html>
<html lang="uk">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'main/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/news_detail.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
                <h2 class="display-5 text-light"><a href="/" class="text-white text-decoration-none">NEWS</a></h2>

                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Головна сторінка</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Запропонувати новину</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">Про нас</a></li>
                </ul>
                
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"> </form>
                <div class="text-end" data-bs-theme="dark">
                    {% if request.session.user_id %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.avatar.url }}" alt="Avatar" width="32" height="32" class="rounded-circle">
                        </a>
                        
                        
                        <ul class="dropdown-menu text-small" style="position: absolute;" data-bs-theme="light">
                            {% if request.session.user_role == '4' %}
                                <li><a class="dropdown-item" href="{% url 'admin_panel' %}">Панель Адміністратора</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'settings_profile' %}">Налаштування</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'user_logout' %}">Вийти</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Логін</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#registerModal">Реєстрація</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизація</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="login_username" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Логін</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="login_password" id="floatingPassword" placeholder="Пароль">
                            <label for="floatingPassword">Пароль</label>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="remember-me" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">
                                    Запам'ятати мене
                                </label>
                            </div>
                            <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Забули пароль?</a>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Увійти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Реєстрація</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'user_register' %}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="register_username" id="floatingInput" placeholder="Логін">
                            <label for="floatingInput">Логін</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="register_email" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="register_password" id="floatingPassword" placeholder="Пароль">
                            <label for="floatingPassword">Пароль</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="register_password_repeat" id="floatingPassword" placeholder="Пароль">
                            <label for="floatingPassword">Повторіть пароль</label>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
                        <hr class="my-4">
                        <small class="text-body-secondary">Натискаючи «Зареєструватися», ви погоджуєтеся з умовами використання.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для відновлення паролю -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="forgotPasswordModalLabel">Відновлення паролю</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="forgotPasswordForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Електронна пошта</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div id="codeInputContainer" style="display: none;">
                            <div class="mb-3">
                                <label for="code" class="form-label">Код</label>
                                <input type="text" class="form-control" id="code" name="code" required>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="sendCodeBtn">Надіслати код</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для введення коду та нового паролю -->
    <div class="modal fade" id="enterCodeModal" tabindex="-1" aria-labelledby="enterCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="enterCodeModalLabel">Введіть код</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="enterCodeForm">
                        <div class="mb-3">
                            <label for="code" class="form-label">Код</label>
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="verifyCodeBtn">Підтвердити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальне вікно для зміни паролю -->
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Змініть пароль</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="resetPasswordForm">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Новий пароль</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Підтвердіть пароль</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary" id="changePasswordBtn">Змінити пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endblock %}
    </div>

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Головна сторінка</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Запропонувати новину</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Про нас</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 News, Inc</p>
    </footer>

    <!-- включіть Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>
