/* Стилі для курсора хрестика */
input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

/* Стилі для плавного з'явлення панелей */
.panel {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

/* Стилі для центрування тексту внутрішніх елементів */
.panel h4 {
    text-align: center;
}

.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }