.delete-field {
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.comment-card:hover .delete-field {
    opacity: 1;
}

