.delete-field {
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    cursor: pointer;
    opacity: 0; /* Спочатку не відображати */
    transition: opacity 0.3s ease-in-out; /* Плавне зникання/появлення */
}

.comment-card:hover .delete-field {
    opacity: 1; /* Показувати хрестик при наведенні на коментар */
  }